* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.uncg_baackg {
    width: 100%;
    height: 864px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent), url(/uncg_math/static/images/Wallpaper_Spartan-UNCG_desktop_3840x2160.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 4%;
    position: relative;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}

.logo {
    /* width: 120px; */
    width: 165px;
    cursor: pointer;
}

.cart-icon {

    width: 30px;
    cursor: pointer;

}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 30px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 50%;
}

:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 212;
    /*Purple 250 - Green 142 - Blue 230 - Pink 340 b:359*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 77%, 34%);
    --first-color-second: hsl(var(--hue-color), 77%, 34%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}




/*==================== BASE ====================*/



html {
    scroll-behavior: smooth;
}


h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

button {
    text-decoration: none !important;
}


/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size);
    color: white;
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
    text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/*==================== NAV ====================*/



/*==================== BUTTONS ====================*/
.button {
    display: inline-block;
    background-color: #05193875 !important;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    border-color: #090f2f !important;
    cursor: pointer;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

.button--small {
    padding: .75rem 1rem;
}

.button--link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button--link:hover {
    background-color: transparent;
    color: var(--first-color-alt);
}

.button--white {
    background-color: #fff !important;
    color: var(--first-color);
}

.button--white:hover {
    background-color: #fff;
}

/* Active Modal */
.active-modal {
    opacity: 1;
    visibility: visible;
}

/*==================== info ====================*/

.contact__information-tab {
    /* background-color: var(--input-color);
  padding: 2rem 1.5rem 4rem;
  box-shadow: 0 -1px 4px rgb(0 0 0 / 15%);
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem; */
    /* border-color: #090f2f !important;
  background-color: #05193875 !important;
  padding: 2rem 1.5rem 4rem;
  box-shadow: 0 -1px 4px #090f2f;
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem; */
    border-color: #090f2f !important;
    background-color: #05193875 !important;
    padding: 2rem 1.5rem 2rem;
    box-shadow: 0px 0px 20px 2px #80afd1;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.contact__information-tab1 {
    background-color: var(--input-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgb(0 0 0 / 15%);
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.contact__container {
    row-gap: 3rem;
}

.contact__information {
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact__icon {
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color:white;
}

.contact__subtitle {
    font-size: var(--small-font-size);
    color: white;
}

.contact__content {
    background-color: transparent;
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.contact__label {
    color: white;
}

.contact__input {
    width: 100%;
    background-color: transparent;
    color: white;
    font-family: var(--body-font);
    border: dashed;
    outline: none;
    padding: 20px;
    border-color: white;
    font-size: larger;
}

.contact__information-tab-main {
    width: 354px;
}

/*==================== FOOTER ====================*/




/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width:350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .services__container {
        grid-template-columns: max-content;
        justify-content: center;
    }

    .services__content {
        padding-right: 3.5rem;
    }

    .services__modal {
        padding: 0 .5rem;
    }

}

/* For medium devices */
@media screen and (min-width:568px) {
    .home__content {
        grid-template-columns: max-content 1fr 1fr;

    }

    .home__data {
        grid-column: initial;
    }

    .home__img {
        order: 1;
        justify-content: center;
    }

    .about__container,
    .skills__container,
    .portfolio__content,
    .project__container,
    .contact__container,
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .qualification__sections {
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
}

@media screen and (min-width:768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .section {
        padding: 5rem 0 2rem;
    }

    .section1 {
        padding: 0 0 0 !important;
    }

    .section__subtitle {
        margin-bottom: 1rem;
    }

    .header {
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer__container {
        padding: 0 1rem;
    }

    .home__container {
        row-gap: 5rem;
    }

    .home__content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home__blob {
        width: 270px;
    }

    .home__scroll {
        display: block;
    }

    .home__scroll-button {
        margin-left: 3rem;
    }

    .about__container {
        column-gap: 5rem;
    }

    .about__img {
        width: 350px;
    }

    .about__description {
        text-align: initial;
    }

    .about__info {
        justify-content: space-between;
    }

    .about__buttons {
        justify-content: initial;
    }


    .services__container {
        grid-template-columns: repeat(3, 218px);
        justify-content: center;
    }

    .services__icon {
        font-size: 2rem;
    }

    .services__content {
        padding: 6rem 0 2rem 2.5rem;
    }

    .services__model-content {
        width: 450px;
    }

}

/* For large devices */
@media screen and (min-width:1024px) {

    .header,
    .main,
    .footer__container {
        padding: 0;
    }

    .home__blob {
        width: 320px;
    }

    .home__social {
        transform: translateX(-6rem);
    }

    .services__container {
        grid-template-columns: repeat(3, 238px);
    }

    .contact__form {
        width: 750px;
    }

    .contact__inputs {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact__inputs_3 {
        grid-template-columns: repeat(5, 1fr);
    }

    .contact__inputs_6 {
        grid-template-columns: repeat(3, 1fr);
    }

    .contact__inputs_8 {
        grid-template-columns: repeat(9, 1fr);
    }

    .contact__inputs_4 {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact__container {
        max-width: 1100px !important;
    }

    .contact__container2 {
        max-width: 940px !important;
    }
}


.required_{
   visibility:hidden;
}

.required_12{
   display:none;
}


