<!DOCTYPE html>
<html>
    <head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    	<!--
    	<style type="text/css">
		body, td, th { 	font-family: "lucida calligraphy", arial, "sans serif"; 	}
		body { 		background-color: #03C; }
		</style> -->
        <title>Financial and math homework Calculators: fraction, statistics, geometry, unit, date and time</title>
        
		<link rel="stylesheet" type="text/css" href="/uncg_math/static/css/mystyle.css">
		<meta name="keywords" content="Calculators, Ultra, Arithmetic, Geometry, Scientific, 
        statistics calculator,Financial calculators, stock monitor,
        Loan calculator, Retirement, investment, Unit Conversion, currency, Tip, Discount, Time, Temperature">
		<meta name="description" content="Arithmetic and scientific calculators; Check kid's homework answers; mortgage and invest; 
                          Statistics calculator;  Geometry; Unit conversions including length and time, etc. ">
        
        <SCRIPT LANGUAGE="JavaScript">
	var convertStart = 10; //**************************************************** change here if insert forms
	// Change whenever add or delete forms before unit conversion (count forms by left navigator of Netbean)
        /*
        var feedback = "";
	function comment(form) {
		var str = "\nOn "+new Date().toLocaleString()+", "+form.elements[1].value+" wrote:\n"+"-----------------------------------------------\n";
		feedback += str+form.elements[0].value;
		//alert(feedback);
		document.forms[convertStart+6].elements[0].value = feedback;
	}
	*/
	



// + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + 
</SCRIPT>
<!-- done hiding from old browsers -->

    <script src="/uncg_math/static/js/homescripts.js"></script>
    </head>
    
    <body>
<!-- facebook share -->        
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

        <div class="example">
        <div id="nav" style="clear:both;">
        <h1 > Fill & Go! </h1>
		<h3 style = "color:white"> <em> Tired of plowing through a chain of  
        	 "calculators" cluttered by links of ads? 
  			Start and stay here for a set of popular, plain, 
                        yet powerful calculators you only need.</em> </h3>

             
<ul>
<li><a href="#Ar">Arithmetic</a></li>
<li><a href="/uncg_math/algebra">Algebra</a></li>
<li><a href="#Stat">Statistics</a></li>
<li><a  href="#Fin" >Financial </a></li>
<li><a href="/uncg_math/geometry">Geometry</a></li>
<li><a href="#Unit">Unit Conv.</a></li>

<!--
<li><a href="/uncg_math/sequences">Sequences</a></li>
<li><a href="/uncg_math/matrix_operation">Matrix Operations</a></li>
<li><a href="/uncg_math/complexnumbers">Complex Numbers</a></li>
<li><a href="/uncg_math/equationsandinequalities">Equations</a></li>
-->

</ul>  

<br>
<div id = "social-fb">
<div class="fb-like" data-href="http://www.ultracalculators.com/" 
     data-width="450" data-layout="standard" data-action="like" 
     data-show-faces="false" data-share="true"></div>
<h2>
<script src="//platform.linkedin.com/in.js" type="text/javascript">
 lang: en_US
</script>
<script type="IN/Share" data-url="www.ultracalculators.com" data-counter="right"></script>
</h2>

</div>


<h2> <a id="Comm" >Comments and Suggestions? </a> </h2>     
     
<FORM>
<TABLE border=0 width=100% >
<TR ALIGN = LEFT>
<TD COLSPAN=7 ALIGN=left VALIGN=left style = "color:white">
Your comments and suggestions are more than welcomed to improve 
the content or design. Without your permission, your email
 will not be shared to anyone. Nor will I send emails to you
 except possible replies to your comments.</TD>
</TR><TR ALIGN = right>
<TD> <a href="mailto:si2013gou@yahoo.com?subject=Ultra%20Cal&body=You%20think:">Send Mail</a></TD>
</TR>
<tr> <td> <br> </td> </tr>
</TABLE>
</FORM>  
        </div>   
<section id="content">

    <!-- **************************************************************** -->
    <h2> <a id="Ar">Arithmetic </a> </h2>          
<FORM>
<TABLE border=0 width=100% bgcolor=moccasin>
    <tr> <td> <br> </td> </tr>
    <tr><td COLSPAN=7 ALIGN=left > Please fill in the first two boxes and then click the operation,
            and the result shows in the third box.</td></tr>
<TR ALIGN = LEFT>
    <td></td>
<TD><INPUT TYPE=number NAME=val1 onFocus="value='';"></TD>
<TD><INPUT TYPE="button"  class="smallbutton"  VALUE="+" onclick="op = '+';calc(this.form)"></TD>
<TD><INPUT TYPE="button"  class="smallbutton"  VALUE="-" onclick="op = '-';calc(this.form)"></TD>
<TD><INPUT TYPE="button"  class="smallbutton"  VALUE="%" onclick="op = '%';calc(this.form)"></TD>

</TR><TR ALIGN = LEFT>
    <td></td>
<TD><INPUT TYPE=number NAME=val2 onFocus="value='';"></TD>
<TD><INPUT TYPE="button"  class="smallbutton"  VALUE="*" onclick="op = '*';calc(this.form)"></TD>
<TD><INPUT TYPE="button"  class="smallbutton"  VALUE="/" onclick="op = '/';calc(this.form)"></TD>
<TD><INPUT TYPE="button"  class="smallbutton"  VALUE="^" onclick="op = '^';calc(this.form)"></TD>

</TR><TR ALIGN = LEFT>
    <td>&nbsp;&nbsp; = &nbsp;&nbsp;</td>
<TD><INPUT TYPE= number NAME=val3 onFocus=""></TD>
</TR>
</TABLE>
</FORM>

<FORM>
<TABLE border=0 width=100% bgcolor=moccasin>
<TR>
<TD COLSPAN=7 ALIGN=RIGHT VALIGN=MIDDLE><h3>Percent Change </h3></TD>
</TR>
<tr><td COLSPAN=7 ALIGN=left > Please fill in any first two boxes and then click one button.</td></tr>
<TR ALIGN = LEFT>
    <TD>Original Amount</td> <TD>Inc (tips)</td> <TD>Final&nbsp;&nbsp;&nbsp;Amount </td>

</TR><TR ALIGN = LEFT>
    <td> <INPUT TYPE=number NAME=val1 onFocus="clear1st(this.form)"></TD>
    <td> <INPUT TYPE="button"  class="smallbutton"  VALUE="+" onclick="op = '+';change(this.form)"></TD>
    <td> <INPUT TYPE=number NAME=val1 onFocus="value='';"></TD>

</TR><TR ALIGN = LEFT>
    <TD>Percent change </td>  <TD>Dec(discount) </td> <TD>Change Amount </td>

</TR><TR ALIGN = LEFT>
    <td> <INPUT TYPE=number NAME=val1 onFocus="value='';">%</TD>
    <td> <INPUT TYPE="button"  class="smallbutton"  VALUE="-" onclick="op = '-';change(this.form)"></TD>
    <td> <INPUT TYPE=number NAME=val1 onFocus="value='';"></TD>
</TR>
</TABLE>
</FORM>


<FORM>
<TABLE border=0 width=100% bgcolor=moccasin>
<TR>
<TD COLSPAN=7 ALIGN=RIGHT VALIGN=MIDDLE><h3>Rate, Prorate, Proportion <br> </h3></TD>
</TR>
<tr><td COLSPAN=7 ALIGN=left > Leave any one box blank and click "Calculate". a:b = c:d)</td></tr>
<TR ALIGN = LEFT>
<TD>a (e.g. hours or #days/month) </TD> <TD>b (e.g. pay or monthly rent) </TD> 
</TR><TR ALIGN = LEFT>
<TD>  <INPUT TYPE= number NAME=val1 onFocus="value='';"></TD>
<TD>  <INPUT TYPE= number NAME=val1 onFocus="value='';"></TD>
</TR><TR ALIGN = LEFT>
<TD>c (e.g. 1 or days rented) </TD> <TD>d (e.g.  rate or prorated rent) </TD>
</TR><TR ALIGN = LEFT>
<TD> <INPUT TYPE= number NAME=val1 onFocus="value='';"></TD>
<TD> <INPUT TYPE= number NAME=val1 onFocus="value='';"></TD>
<TD><INPUT TYPE="button"  class="widebutton"  VALUE="Calculate" onclick="rate(this.form)"></TD>
</TR>


  <tr>
    <td>
      <h3><a href="/uncg_math/random_tests" style="width: 200px; height: 20px">Random Tests</a> </h3>
    </td>
    <td>
      
      <h3><a href="/uncg_math/eogmath" style="width: 200px; height: 20px">EOG Math Tests</a></h3>
    </td>
  </tr>
  <tr>
    <td>
      <h3><a href="/uncg_math/random_" style="width: 200px; height: 20px">Fraction</a></h3>
    </td>
    <td>
      <h3><a href="/uncg_math/eogma" style="width: 200px; height: 20px">Factorization</a></h3>
    </td>
  </tr>
</table>

</TABLE>
</FORM>



<!-- ---------------------------------------------------------------------------------->
<h2> Scientific </h2>          
<FORM>
<TABLE border=0 width=100% bgcolor=moccasin>
    <tr> <td> <br> </td> </tr>
<TR ALIGN = center>
<TD><INPUT TYPE= number NAME=val1 onFocus="clear1st(this.form)"></TD>
<TD> <input type="checkbox" name="deg" value="false" > deg     </TD>

</TR><TR align = CENTER>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="n!" onclick="op = 'n!';calFun(this.form)"></TD>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="2^n" onclick="op = '2n';calFun(this.form)"></TD>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="x^2" onclick="op = 'x2';calFun(this.form)"></TD>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="x^3" onclick="op = 'x3';calFun(this.form)"></TD>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="x^1/2" onclick="op = 'xr2';calFun(this.form)"></TD>

</TR><TR align = CENTER>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="x^1/3" onclick="op = 'xr3';calFun(this.form)"></TD>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="1/x" onclick="op = '1/x';calFun(this.form)"></TD>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="e^x" onclick="op = 'ex';calFun(this.form)"></TD>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="log" onclick="op = 'log';calFun(this.form)"></TD>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="ln" onclick="op = 'ln';calFun(this.form)"></TD>


</TR><TR ALIGN = CENTER>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="deg" onclick="op = 'deg';calFun(this.form)"></TD>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="rad" onclick="op = 'rad';calFun(this.form)"></TD>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="sin" onclick="op = 'sin';calFun(this.form)"></TD>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="cos" onclick="op = 'cos';calFun(this.form)"></TD>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="tan" onclick="op = 'tan';calFun(this.form)"></TD>

</TR><TR ALIGN= CENTER>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="asin" onclick="op = 'asin';calFun(this.form)"></TD>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="acos" onclick="op = 'acos';calFun(this.form)"></TD>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="atan" onclick="op = 'atan';calFun(this.form)"></TD>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="e" onclick="op = 'e';calFun(this.form)"></TD>
<TD><INPUT TYPE="button"  class="bigbutton"  VALUE="pi" onclick="op = 'pi';calFun(this.form)"></TD>

</TR><TR ALIGN= CENTER>
<TD><INPUT TYPE= number NAME=val2 onFocus=""></TD>
<TD COLSPAN=7 ALIGN=right> <a href="#nav">Top </a> </TD>
</TR>
<tr> <td> <br> </td> </tr>
</TABLE>
</FORM>


<!-- ---------------------------------------------------------------------------------->
<h2> <a id="Stat">Statistics </a> </h2>          

<FORM>
<TABLE border=0 width=100% bgcolor=moccasin>
<tr> <td> <br> </td> </tr>
<TR>
<TD COLSPAN=7 ALIGN=LEFT VALIGN=MIDDLE>
Fill the following area. Separate the items by space(s). 
For weighted average (e.g. GPA), the value weight pairs 
e.g. 4.0 (score of grade A) 3 (3 credits) are entered.
Check "Weighted Avg" and click "Calculate". For regular statistics after filling the big box, 
uncheck "Weighted Avg" (if already checked) and then "Calculate".

<textarea rows="10" cols="54" onFocus="value='';"> </textarea> </TD>
</TR><TR ALIGN= CENTER>
<TD><INPUT TYPE="button"  class="widebutton"  VALUE="sort" onclick="sorted(this.form)"></TD>
<TD><INPUT TYPE="button"  class="widebutton"  VALUE="calculate" onclick="stat(this.form)"></TD>
<TD> <input type="checkbox" name="weighted" value="false" > Weighted Avg:     </TD>
<TD><INPUT TYPE= number NAME=val11 onFocus="value='';"></TD>

</TR><TR>
<TD ALIGN=CENTER>Min</TD>
<TD ALIGN=CENTER>1st Quantile</TD>
<TD ALIGN=CENTER>Median</TD>
<TD ALIGN=CENTER>3rd Quantile</TD>
<TD ALIGN=CENTER>Max</TD>
</TR><TR ALIGN = CENTER>
<TD><INPUT TYPE= number NAME=val12 onFocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val12 onFocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val13 onFocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val14 onFocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val15 onFocus="value='';"></TD>
</TR><TR>

<TD ALIGN=CENTER>Sum</TD>
<TD ALIGN=CENTER>Count</TD>
<TD ALIGN=CENTER>Average</TD>
<TD ALIGN=CENTER>Mode</TD>
<TD ALIGN=CENTER>Deviation</TD>
</TR><TR ALIGN =  CENTER>
<TD><INPUT TYPE= number NAME=val16 onFocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val12 onFocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val17 onFocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val18 onFocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val19 onFocus="value='';"></TD>
</TR>

<tr> <td>&nbsp; </td> </tr> <tr> <td>&nbsp; </td> </tr>
<TR> 
<TD ALIGN=CENTER> n</TD>
<TD COLSPAN=2 ALIGN=left VALIGN=MIDDLE>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;r</TD>
<TD ALIGN=CENTER>rCn</TD>
<TD ALIGN=CENTER>rPn</TD>
</TR><TR ALIGN =  left>
<TD><INPUT TYPE= number NAME=val16 onFocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val17 onFocus="value='';"></TD>
<TD><INPUT TYPE="button"   VALUE="Combination" onclick="comb(this.form)"></TD>
<TD><INPUT TYPE= number NAME=val18 onFocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val19 onFocus="value='';"></TD>
</TR>
<tr> <td> <br> </td> </tr>
<TR align = right>
<TD COLSPAN=7 ALIGN=right> <a href="#nav">Top </a> </TD>
</TR>
<tr> <td> <br> </td> </tr>
</TABLE>
</FORM>

<!-- --------------------------------------------------------------------------->
<h2> <a id="Fin">Financial </a></h2>

<FORM> 
<TABLE border=0 width=100% bgcolor=cadetblue>
   
<TR>
<TD COLSPAN=7 ALIGN=right VALIGN=MIDDLE><h3>Investment</h3></TD>
</TR><TR>
<TR align = left>
<TD COLSPAN=7 ALIGN=LEFT VALIGN=MIDDLE> (Leave any one box blank)<br> </TD>
</TR><TR align=left>
<TD ALIGN=CENTER>Present<br> Value (PV)</TD>
<TD ALIGN=CENTER>Year (N)</TD>
<TD ALIGN=CENTER>Rate %</TD>
<TD ALIGN=CENTER>Future<br>Value (FV)</TD>

</TR><TR align=center>
<TD><INPUT TYPE= number NAME=val1 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val2 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val3 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val4 onfocus="value='';"></TD>
<TD><INPUT TYPE="button"  class="widebutton"  VALUE="Calculate" onclick="invest(this.form)"></td>
</TR>

</TABLE>
</FORM>  

<FORM> 
<TABLE border=0 width=100% bgcolor=cadetblue>
<TR>
<TD COLSPAN=7 ALIGN=right VALIGN=MIDDLE><h3>Retirement</h3></TD>
</TR><TR>
<TR align = left>
<TD COLSPAN=7 ALIGN=LEFT VALIGN=MIDDLE> (Leave only last box blank)<br> </TD>
</TR><TR align=left>
<TD ALIGN=CENTER>Present<br> Value (PV)</TD>
<TD ALIGN=CENTER>Annual Invest<br> Amount</TD>
<TD ALIGN=CENTER>Year (N)</TD>
<TD ALIGN=CENTER>Rate %</TD>
<TD ALIGN=CENTER>Future<br>Value (FV)</TD>

</TR><TR align=center>
<TD><INPUT TYPE= number NAME=val1 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val2 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val3 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val4 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val5 onfocus="value='';"></TD>
</TR><TR align=center>
<TD><INPUT TYPE="button"  class="widebutton"  VALUE="Calculate" onclick="retire(this.form)"></td>
</TR>
</TABLE>
</FORM>  


<FORM> 
<TABLE border=0 width=100% bgcolor=cadetblue>
<TR>
<TD COLSPAN=7 ALIGN=right VALIGN=MIDDLE><h3>Loan, Mortgage</h3></TD>
</TR>
<TR align = left>
<TD COLSPAN=7 ALIGN=LEFT VALIGN=MIDDLE> (Fill in first 4 boxes, then calculate)<br> </TD>
</TR><TR align=left>
<TD ALIGN=CENTER>Loan<br> Amount (PV)</TD>
<TD ALIGN=CENTER>Term <br>(Months)</TD>
<TD ALIGN=CENTER>Rate %</TD>
<TD ALIGN=CENTER>Months<br>Paid (k)</TD>

</TR><TR align=center>
<TD><INPUT TYPE= number NAME=val1 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val2 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val3 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val4 onfocus="value='';"></TD>
</TR><TR align=left>
<TD ALIGN=CENTER>Payment (PMT)</TD>
<TD ALIGN=CENTER>Total <br> Interest</TD>
<TD ALIGN=CENTER>Principle<br> Paid</TD>
<TD ALIGN=CENTER>Loan<br>Balance</TD>

</TR><TR align=center>
<TD><INPUT TYPE= number NAME=val1 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val2 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val3 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val4 onfocus="value='';"></TD>
<TD><INPUT TYPE="button"  class="widebutton"  VALUE="Calculate" onclick="loan(this.form)"></td>
</TR><TR>
    <tr> <td> <br> </td> </tr>
<TR align = right>
<TD COLSPAN=7 ALIGN=right> <a href="#nav">Top </a> </TD>
</TR>
<tr> <td> <br> </td> </tr>
</TABLE>
</FORM>  

<FORM> 
<TABLE border=0 width=100% bgcolor=cadetblue>
<TR>
<TD COLSPAN=7 ALIGN=right VALIGN=MIDDLE><h3>Balloon Loan</h3></TD>
</TR>
<TR align = left>
<TD COLSPAN=7 ALIGN=LEFT VALIGN=MIDDLE> (Fill in first 3 boxes:)<br> </TD>

</TR><TR align=left>
<TD ALIGN=CENTER>Term <br>(Months)</TD>
<TD ALIGN=CENTER>Rate %</TD>
<TD ALIGN=CENTER>Months<br>Paid </TD>

</TR><TR align=center>
<TD><INPUT TYPE= number NAME=val1 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val2 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val3 onfocus="value='';"></TD>

</TR><TR align = left>
<TD COLSPAN=7 ALIGN=LEFT VALIGN=MIDDLE> (Then fill any two of the next 3 boxes and calculate:)<br> </TD>
</TR><TR align=left>
<TD ALIGN=CENTER>Loan<br> Amount (PV)</TD>
<TD ALIGN=CENTER>Payment (PMT)</TD>
<TD ALIGN=CENTER>Loan<br>Balance</TD>

</TR><TR align=center>
<TD><INPUT TYPE= number NAME=val1 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val2 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val3 onfocus="value='';"></TD>
</TR><TR align=left>
<TD ALIGN=CENTER>Interest<br> Paid</TD>
<TD ALIGN=CENTER>Total <br> Interest</TD>

</TR><TR align=center>
<TD><INPUT TYPE= number NAME=val1 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val2 onfocus="value='';"></TD>

<TD><INPUT TYPE="button"  class="widebutton"  VALUE="Calculate" onclick="balloon(this.form)"></td>
</TR>
<tr> <td> <br> </td> </tr>
<TR align = right>
<TD COLSPAN=7 ALIGN=right> <a href="#nav">Top </a> </TD>
</TR>
<tr> <td> <br> </td> </tr>
</TABLE>
</FORM>  


<!-- ---------------------------------------------------------------------------------->
<h2> <a id="Unit">Unit Conversion </a></h2> 
(Fill in any box then click "Calculate")

<FORM> 
<TABLE border=0 width=100% bgcolor=#A0E0E0>
<TR>
<TD COLSPAN=7 ALIGN=RIGHT VALIGN=MIDDLE><h3>Distance</h3></TD>
</TR><TR>
<TD ALIGN=CENTER>Meters</TD>
<TD ALIGN=CENTER>Inches</TD>
<TD ALIGN=CENTER>Feet</TD>
<TD ALIGN=CENTER>Yards</TD>
<TD ALIGN=CENTER>Miles</TD>

</TR><TR align=center>
<TD><INPUT TYPE= number NAME=val1 onfocus="clearform(this.form)"></TD>
<TD><INPUT TYPE= number NAME=val2 onfocus="clearform(this.form)"></TD>
<TD><INPUT TYPE= number NAME=val3 onfocus="clearform(this.form)"></TD>
<TD><INPUT TYPE= number NAME=val4 onfocus="clearform(this.form)"></TD>
<TD><INPUT TYPE= number NAME=val5 onfocus="clearform(this.form)"></TD>
</TR><TR>
<TD COLSPAN=7 align=center>
<INPUT TYPE="button"  class="widebutton"  VALUE="Calculate" onclick="convertform(this.form)">
</TD>
</TR>

</TABLE>
</FORM>  

<SCRIPT LANGUAGE="JavaScript">
// -- Set conversion factors for each item in form. All
// factors must convert the first item to the current item.
// Be sure to use the correct form index. The first form is
// always index "0" and remaining forms are numbered in the
// order they appear in the document.
var k = convertStart;
document.forms[k].count = 5;  // number of unit types
document.forms[k].rsize = 7;  // Rounding size, use same as SIZE
document.forms[k].val1.factor = 1;            // m to m.
document.forms[k].val2.factor = 39.37007874;  // m to in.
document.forms[k].val3.factor = 3.280839895;  // m to ft.
document.forms[k].val4.factor = 1.093613298;  // m to yards.
document.forms[k].val5.factor = 0.00062137119; // m to mi.
<!-- done hiding from old browsers -->
</SCRIPT>

<!-- --------------------------------------------------------------------------->

<FORM> 
<TABLE border=0 width=100% bgcolor=#A0E0E0>
<TR>
<TD COLSPAN=7 ALIGN=RIGHT VALIGN=MIDDLE><h3>Area</h3></TD>
</TR><TR>
<TD ALIGN=CENTER>Meter <sup>2</sup> </TD>
<TD ALIGN=CENTER>Inch <sup>2</sup> </TD>
<TD ALIGN=CENTER>Foot <sup>2</sup> </TD>
<TD ALIGN=CENTER>Yard  <sup>2</sup> </TD>

</TR><TR align=center>
<TD><INPUT TYPE= number NAME=val1 onfocus="clearform(this.form)"></TD>
<TD><INPUT TYPE= number NAME=val2 onfocus="clearform(this.form)"></TD>
<TD><INPUT TYPE= number NAME=val3 onfocus="clearform(this.form)"></TD>
<TD><INPUT TYPE= number NAME=val4 onfocus="clearform(this.form)"></TD>

</TR><TR>
<TD ALIGN=CENTER>Mile <sup>2</sup> </TD>
<TD ALIGN=CENTER>Acres </TD>

</TR><TR align=center>
<TD><INPUT TYPE= number NAME=val5 onfocus="clearform(this.form)"></TD>
<TD><INPUT TYPE= number NAME=val6 onfocus="clearform(this.form)"></TD>
<TD><INPUT TYPE="button"  class="widebutton"  VALUE="Calculate" onclick="convertform(this.form)"></TD>
</TR>
</TABLE>
</FORM>         
 
<SCRIPT LANGUAGE="JavaScript">
<!-- Set conversion factors for each item in form. All
// factors must convert the first item to the current item.
// Be sure to use the correct form index. The first form is
// always index "0" and remaining forms are numbered in the
// order they appear in the document.
var k = convertStart+1;
document.forms[k].count = 6;  // number of unit types
document.forms[k].rsize = 11;  // Rounding size, use same as SIZE
document.forms[k].val1.factor = 1;            // m2 to m2.
document.forms[k].val2.factor = 1550.0031;  // m2 to in2.
document.forms[k].val3.factor = 10.76391042;  // m2 to ft2.
document.forms[k].val4.factor = 1.195990046;  // m2 to yards2.
document.forms[k].val5.factor = 0.0000003861; // m2 to mi2.
document.forms[k].val6.factor = 0.0002471054; // m2 to acre.
<!-- done hiding from old browsers -->
</SCRIPT>

<!-- ------------------------------------------------------------------------------ -->
<FORM>
<TABLE border=0 width=100% bgcolor=#A0E0E0>
<TR>
<TD COLSPAN=7 ALIGN=RIGHT VALIGN=MIDDLE><H3>Weight</H3></TD>
</TR><TR>
<TD ALIGN=CENTER>Kilograms</TD>
<TD ALIGN=CENTER>Ounces</TD>
<TD ALIGN=CENTER>Pounds</TD>

</TR><TR ALIGN=CENTER>
<TD><INPUT TYPE= number NAME=val1 onFocus="clearform(this.form)"</TD>
<TD><INPUT TYPE= number NAME=val2 onFocus="clearform(this.form)"</TD>
<TD><INPUT TYPE= number NAME=val3 onFocus="clearform(this.form)"</TD>
<TD><INPUT TYPE="button"  class="widebutton"  VALUE="Calculate" onclick="convertform(this.form)"></TD>

</TR>
<tr> <td> <br> </td> </tr>
<TR align = right>
<TD COLSPAN=7 ALIGN=right> <a href="#nav">Top </a> </TD>
</TR>
<tr> <td> <br> </td> </tr>
</TABLE>
</FORM>


<SCRIPT LANGUAGE="JavaScript">
<!-- Set conversion factors for each item in form.
var k = convertStart+2;
document.forms[k].count = 3;
document.forms[k].rsize = 6;
document.forms[k].val1.factor = 1;
document.forms[k].val2.factor = 35.273944;
document.forms[k].val3.factor = 2.2046215;
<!-- done hiding from old browsers -->
</SCRIPT>


<!-- ------------------------------------------------------------------------------ -->
<FORM>
<TABLE border=0 width=100% bgcolor=#A0E0E0>
<TR>
<TD COLSPAN=7 ALIGN=RIGHT VALIGN=MIDDLE><H3>Volume </H3></TD>
</TR><TR>
<TD ALIGN=CENTER>Liters </TD>
<TD ALIGN=CENTER>Table<BR>Spoons </TD>
<TD ALIGN=CENTER>Fluid<BR>Ounces</TD>
<TD ALIGN=CENTER>Cups</TD>
<TD ALIGN=CENTER>Pints</TD>

</TR><TR ALIGN=CENTER>
<TD><INPUT TYPE= number NAME=val1 onfocus="clearform(this.form)"</TD>
<TD><INPUT TYPE= number NAME=val2 onfocus="clearform(this.form)"</TD>
<TD><INPUT TYPE= number NAME=val3 onfocus="clearform(this.form)"</TD>
<TD><INPUT TYPE= number NAME=val4 onfocus="clearform(this.form)"</TD>
<TD><INPUT TYPE= number NAME=val5 onfocus="clearform(this.form)"</TD>

</TR><TR>
<TD ALIGN=CENTER>Quarts</TD>
<TD ALIGN=CENTER>Gallons</TD>
<TD ALIGN=CENTER>Imperial<BR>Gallons</TD>

</TR><TR ALIGN=CENTER>
<TD><INPUT TYPE= number NAME=val6 onfocus="clearform(this.form)"</TD>
<TD><INPUT TYPE= number NAME=val7 onfocus="clearform(this.form)"</TD>
<TD><INPUT TYPE= number NAME=val8 onfocus="clearform(this.form)"</TD>
<TD> <INPUT TYPE="button"  class="widebutton"  VALUE="Calculate" onclick="convertform(this.form)"> </TD>

</TR>
</TABLE>
</FORM>

<SCRIPT LANGUAGE="JavaScript">
// Set conversion factors for each item in form.
var k = convertStart+3;
document.forms[k].count = 8;
document.forms[k].rsize = 6;
document.forms[k].val1.factor = 1;
document.forms[k].val2.factor = 67.6479852;
document.forms[k].val3.factor = 33.8239926;
document.forms[k].val4.factor = 4.227999075;
document.forms[k].val5.factor = 2.113999538;
document.forms[k].val6.factor = 1.056998;
document.forms[k].val7.factor = 0.2642499;
document.forms[k].val8.factor = 0.2200433;
</SCRIPT>

<!-- ------------------------------------------------------------------------------ -->


<FORM>
<TABLE border=0 width=100% bgcolor=#A0E0E0>
<TR>
<TD COLSPAN=7 ALIGN=RIGHT VALIGN=MIDDLE><H3>Temperature</H3></TD>
</TR><TR>
<TD ALIGN=CENTER>Celsius  (0 C<sup> o </sup>) </TD>
<TD ALIGN=CENTER>Fahrenheit (32 F<sup> o </sup>) </TD>

</TR><TR ALIGN=CENTER>
<TD><INPUT TYPE= number NAME=val1 onFocus="clearform(this.form)"</TD>
<TD><INPUT TYPE= number NAME=val2 onFocus="clearform(this.form)"</TD>
<TD><INPUT TYPE="button"  class="widebutton"  VALUE="Calculate" onclick="convertTemp(this.form)"></TD>
</TR>
</TABLE>
</FORM>

<SCRIPT LANGUAGE="JavaScript">
// Set conversion factors for each item in form.
var k = convertStart+4;
document.forms[k].count = 2;
</SCRIPT>


<!-- ------------------------------------------------------------------------------ -->
<FORM>
<TABLE border=0 width=100% bgcolor=#A0E0E0>
<TR>
<TD COLSPAN=7 ALIGN=RIGHT VALIGN=MIDDLE><H3> Time </H3></TD>
</TR><TR>
<TD ALIGN=CENTER>Days </TD>
<TD ALIGN=CENTER>Seconds</TD>
<TD ALIGN=CENTER>Minutes</TD>
<TD ALIGN=CENTER>Hours</TD>


</TR><TR ALIGN=CENTER>
<TD><INPUT TYPE= number NAME=val1 onfocus="clearform(this.form)"</TD>
<TD><INPUT TYPE= number NAME=val2 onfocus="clearform(this.form)"</TD>
<TD><INPUT TYPE= number NAME=val3 onfocus="clearform(this.form)"</TD>
<TD><INPUT TYPE= number NAME=val4 onfocus="clearform(this.form)"</TD>


</TR><TR>
<TD ALIGN=CENTER>Weeks</TD>
<TD ALIGN=CENTER>Months</TD>
<TD ALIGN=CENTER>Years</TD>
</TR><TR ALIGN=CENTER>
<TD><INPUT TYPE= number NAME=val5 onfocus="clearform(this.form)"</TD>
<TD><INPUT TYPE= number NAME=val6 onfocus="clearform(this.form)"</TD>
<TD><INPUT TYPE= number NAME=val7 onfocus="clearform(this.form)"</TD>
<TD> <INPUT TYPE="button"  class="widebutton"  VALUE="Calculate" onclick="convertform(this.form)"> </TD>

</TR>
<tr> <td> <br> </td> </tr>
<TR align = right>
    <td  COLSPAN=2 ALIGN=left> <a style ="width:160px" href="unitop.html"> Unit Operations </a> </TD>
<TD COLSPAN=5 ALIGN=right> <a href="#nav">Top </a> </TD>
</TR>
<tr> <td> <br> </td> </tr>
</TABLE>
</FORM>

<SCRIPT LANGUAGE="JavaScript">
// Set conversion factors for each item in form.
var k = convertStart+5;
document.forms[k].count = 7;
document.forms[k].rsize = 9;
document.forms[k].val1.factor = 1;
document.forms[k].val2.factor = 86400;
document.forms[k].val3.factor = 1440;
document.forms[k].val4.factor = 24;
document.forms[k].val5.factor = 0.142857;
document.forms[k].val6.factor = 0.0328549;
document.forms[k].val7.factor = 0.00273791;
</SCRIPT>

<h2> <a id="Ar">Date Duration, Addition, and Subtraction </a> </h2> 

<FORM>
<TABLE border=0 width=100% bgcolor=#A0E0E0>
    <TR> <td> <BR> </td> </tr>

<TR align = left>
<TD COLSPAN=7 ALIGN=LEFT VALIGN=MIDDLE>(This is a 2-in-1 date calculator: 
    duration, and date addition / subtraction. If you fill 2 dates in the first 2 rows 
    and click "-" and "Calculate", 
    the last row will be the duration; The first date will auto-filled if you click "Today".
    The day of week is filled by the computer as well. 
    The 1st date "+"/"-" the number of days in the 2nd row equals a new date in the 3rd row.)  </TD>

</TR><TR>
<TD ALIGN=CENTER>Year </TD>
<TD ALIGN=CENTER>Month</TD>
<TD ALIGN=CENTER>Day</TD>
<TD ALIGN=CENTER>D.Week</TD>
<TD COLSPAN=2 ALIGN=center> <INPUT TYPE="button"  
      class="widebutton"  VALUE="Today" onclick="today(this.form)"></TD>
</TR><TR ALIGN=CENTER>
<TD><INPUT TYPE= number NAME=val1 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val2 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val3 onfocus="value='';"></TD>
<TD><INPUT TYPE= text size = 8 NAME=val4 onfocus="value='';"></TD>
<TD><INPUT TYPE="button"  class="smallbutton"  VALUE="+" onclick="op = '+';"></TD>
<TD><INPUT TYPE="button"  class="smallbutton"  VALUE="-" onclick="op = '-';"></TD>

</TR><TR ALIGN=CENTER>
<TD><INPUT TYPE= number NAME=val1 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val2 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val3 onfocus="value='';"></TD>
<TD COLSPAN=3 ALIGN=center> = </TD>

</TR><TR ALIGN=CENTER>
<TD><INPUT TYPE= number NAME=val1 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val2 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val3 onfocus="value='';"></TD>
<TD><INPUT TYPE= text size = 8 NAME=val4  8 onfocus="value='';"></TD>
<TD> <INPUT TYPE="button"  
    class="widebutton"  VALUE="Calculate" onclick="timediff(this.form)"> </TD>

</TR>
<tr> <td> <br> </td> </tr>
<TR align = right>
<TD COLSPAN=7 ALIGN=right> <a href="#nav">Top </a> </TD>
</TR>
<tr> <td> <br> </td> </tr>
</TABLE>
</FORM>

<h2> <a id="Ar">Time Duration, Addition, and Subtraction </a> </h2>          
<FORM>
<TABLE border=0 width=100% bgcolor=#A0E0E0>
    <TR> <td> <BR> </td> </tr>

<TR align = left>
<TD COLSPAN=7 ALIGN=LEFT VALIGN=MIDDLE> This is a 2-in-1 time calculator: 
    duration, and time addition / subtraction. 
    If you fill 2 times in the first 2 rows (if you don't check am/pm, 
    they are in 0-23 hour format)    and click "Duration" and "Calculate", 
    the last row will be the duration; 
    The 1st time "+"/"-" the number of hour/minute/second etc. 
    in the 2nd row (don't check am/pm in this case) equals a new time in the 3rd row.
    </TD>

</TR><TR>
<TD ALIGN=CENTER>Hour </TD>
<TD ALIGN=CENTER>Minute</TD>
<TD ALIGN=CENTER>Second</TD>
<TD COLSPAN=2 ALIGN=center> <INPUT TYPE="button"  
      class="bigbutton"  VALUE="Now" onclick="now(this.form)"></TD>
<TD ALIGN=center> <INPUT TYPE="button"  
      class="widebutton"  VALUE="Duration" onclick="op = 'Dur'; "></TD>

</TR><TR ALIGN=center>
<TD><INPUT TYPE= number NAME=val1 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val2 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val3 onfocus="value='';"></TD>
<TD> <input style="width: 11px;" type="checkbox" name="am" value="false" > am    
<input style="width: 11px;" type="checkbox" name="pm" value="false" > pm     </TD>
<TD><INPUT TYPE="button"  class="smallbutton"  VALUE="+" onclick="op = '+';"></TD>
<TD><INPUT TYPE="button"  class="smallbutton"  VALUE="-" onclick="op = '-';"></TD>

</TR><TR ALIGN=CENTER>
<TD><INPUT TYPE= number NAME=val1 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val2 onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val3 onfocus="value='';"></TD>
<TD> <input type="checkbox" name="am" value="false" > am     </td>
<td> <input type="checkbox" name="pm" value="false" > pm     </TD>
<TD COLSPAN=2 ALIGN=center> = </TD>

</TR><TR ALIGN=CENTER>
<TD><INPUT TYPE= number NAME=val1  onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val2  onfocus="value='';"></TD>
<TD><INPUT TYPE= number NAME=val3  onfocus="value='';"></TD>
<TD> <input type="checkbox" name="am" value="false" > am     </td>
<td> <input type="checkbox" name="pm" value="false" > pm     </TD>
<TD align =right> <INPUT TYPE="button"  
    class="widebutton"  VALUE="Calculate" onclick="timecal(this.form)"> </TD>

</TR>
<tr> <td> <br> </td> </tr>
<TR align = right>
<TD COLSPAN=7 ALIGN=right> <a href="#nav">Top </a> </TD>
</TR>
<tr> <td> <br> </td> </tr>
</TABLE>
</FORM>

</section>    
        </div>
    </body>
</html>